{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "no-console": "warn",
        "new-cap": "warn",
        "require-jsdoc": "off",
        "max-len": "warn"
    },
    "plugins": [
       "chai-expect",
       "mocha" 
    ]
}